<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easymusicplayer1"
    android:versionCode="1"
    android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

 
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    

    <application
        android:name="com.example.easymusicplayer1.utility.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/music_pic"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service 
            android:name="com.example.easymusicplayer1.service.MusicForegroundService">
        </service>
        
        <service
            android:name="com.example.easymusicplayer1.service.MusicForegroundService1">
            </service>
        
        <activity
            android:name="com.example.easymusicplayer1.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.easymusicplayer1.activity.PlayMusicActivity" 
             android:launchMode="singleInstance"
             >
        </activity>
        
        <activity
            android:name="com.example.easymusicplayer1.activity.SecondActivity" />
        
    </application>

</manifest>